enabled: false

global:
  podSecurityStandards:
    enforced: false

ciliumNetworkPolicy:
  enabled: false

image:
  name: "giantswarm/tbot-distroless"
registry:
  domain: gsoci.azurecr.io

cronjob:
  enabled: false
  image:
    name: "giantswarm/docker-kubectl"
    tag: "1.31.0"

teleport:
  tokenName: ""
  proxyAddr: test.teleport.giantswarm.io:443
  teleportClusterName: test.teleport.giantswarm.io
  teleportVersion: 18.4.0

pod:
  user:
    id: 1000
  group:
    id: 1000

resources:
  limits:
    cpu: 250m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 250Mi

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault
  runAsNonRoot: true

# Add seccomp to container security context
containerSecurityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

renewal_interval: "20m"
certificate_ttl: "24h"

# Controls the default output configured for the tbot agent.
defaultOutput:
  enabled: true
  # Sets the name of the Kubernetes Secret that the default output will be written to.
  secretName: "teleport-identity-output"

# outputs(map)
# outputs:
#   golem: "golem"
#   golem-demo: "demo"
